*{
    padding:0;
    margin:0;
}
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
/*@import "./utils/extensions";*/
@import "./base/base";
@import "./base/typography";
@import "./components/visuels";
@import "./components/button";
@import "./layout/header";
/*@import "./layout/nav";*/
@import "./layout/container";
/*@import "./layout/form";*/
/*@import "./pages/work";*/
/*@import "./pages/about";*/
/*@import "./pages/project";*/
.section{
        &__welcome{
            @include dajfcc;
            flex-direction: column;
            text-align:center;
            width:100%;
            flex-wrap: nowrap;
            width:100%;
                &__txtcontent{
                    &__title{
                        font-family : 'Roboto',sans-serif;
                        font-weight:700;
                        text-align: center;
                    }
                    &__slug{
                        font-family: 'Roboto',sans-serif;
                        font-size: rem(17.33);
                        font-weight:500;
                    }
                }
                & .button-index{                    
                    &__explore{ 
                        text-align:center;                  
                    }
                }
        }
        &__howto{
            display:block;
            width:100%;
            &__title{
                font-family : 'Roboto',sans-serif;
                font-size: 18pt;
                font-weight:700;
                }
            &__level{/*Second levele est le contenteur des trois boutons de la section Fonctionnement sur la page index*/
                @include dajfcc;
                @include button-fonctionnement;
                    &__number{
                        }
                    &__content{
                        display:inline-flex;
                        &__icone{
                        }
                        &__text{
                        }
                    }
                }
            }
        &__list{
            &__title{
            }
            &__second-level{       
                &__block{
                    background-color:$color-bckgr-light-light;
                    box-shadow: vw(5px) vw(5px) $color-shdw;
                    &__img {
                        @include imgindex;
                    }
                    &__content{
                        &__txt{
                            &__title{

                            }
                            &__description{

                            }
                        }
                    }
                } 
            }
        }
}