*{
    padding:0;
    margin:0;
}
@import "./utils/variables";
/*@import "./utils/functions";*/
@import "./utils/mixins";
/*@import "./utils/extensions";*/

@import "./base/base";
@import "./base/typography";

/*@import "./components/buttons";*/

/*@import "./layout/header";*/
/*@import "./layout/nav";*/
/*@import "./layout/container";*/
/*@import "./layout/form";*/


/*@import "./pages/work";*/
/*@import "./pages/about";*/
/*@import "./pages/project";*/

/*Polices */
.header{
    display:flex;
    flex-direction:column;
    width:100%;
    &__site-title{
        padding:5.333vw 5.333vw 0 5.333vw;
    }
    &__logo{
        display:block;
        width:100%;
        height:auto;
    }
    &__location{
        display:flex;
        flex-direction:row;
        width:100%;
        @include dajfcc;
        @include locationdgrd;
        margin:auto;
        padding:18px;
        i{
            display:inline-block;
            height:17px;
            width:12px;
        }
        &__city{
        display:inline-block;
        font-family:'Roboto',sans-serif;
        font-size: 12pt;
        font-weight:700;
        }
    }
}
section{
    display:block;
    clear:both;
    .section{
        display:block;
        clear:both;
        &__welcome{
            @include dajfcc;
            text-align:center;
            width:100%;
            &__title{
                font-family : 'Roboto',sans-serif;
                font-size: 18pt;
                font-weight:700;
            }
        &__description{
                font-family: 'Roboto',sans-serif;
                font-size: 13pt;
                font-weight:500;
                }
            &__button{
                @include explorebtndgrd;
                display:flex;
                border-radius:50px;
                height:50px;
                width:217px;
                padding:0px;
                margin:auto;
                cursor: pointer;
                @include boxshadow;
                &__explore{
                    font-family : 'Roboto',sans-serif;
                    font-size: 12pt;
                    font-weight:700;
                    margin:auto;
                    color:#fff;
                    }
                &:hover{
                    
                }
            }
        }
    }
    .section-howto{
        display:block;
        width:100%;
        &__title{
            font-family : 'Roboto',sans-serif;
            font-size: 18pt;
            font-weight:700;
            }
        &__secondlevel{
            @include dajfcc;
            &__block{
                display:block;
                width:px;
                height:px;
                border-radius:px;
                box-shadow:px;
                cursor: pointer;
                &__number{
                    }
                &__content{
                display:inline-flex;
                
                &__icone{
                }
                &__text{
                }
                }
            }
            
        }
    }
}