.footer-logo{
    margin-bottom:6.4vw;
}
.footer-menu{
    margin:0;
    padding:0;
    & ul{
        margin:0;
        padding:0;
        & li{
            margin-bottom:rempts(12);
        }
    }
    &__link-block{
        list-style: none;
        display:flex;
        color:$color-bckgr-light-dark;
        margin-left:0;
        padding-left:0;
        &__icone{
            & i{
            margin:0 10px 0 0;
            width:3.7333vw;
            height:3.7333vw;
            font-size: rem(16.67);
            color:$color-bckgr-light-light;
            padding-left:0;
            }
            & a{
                font-size: rempts(12);
            }
        }            
    }
}
@media screen and (min-width: 1200px){
footer{
        padding: 2vw 5vw;
        display:flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }
    .footer-logo{
        margin: 1.5vw auto;
        //margin-bottom:6.4vw;
        //margin-right: 5vw;
        & a{//logo ohmyfood dans le footer
            font-size: rempts(43.5);
            font-family: 'Shrikhand', cursive;
            color:$color-bckgr-light-dark;
        }
    }
    .footer-menu{
        margin:0;
        padding:0;
        & ul{
            margin:0;
            padding:0;
            display:grid;
            grid-template-columns: 3fr 3fr 2fr 2fr;
            & li{
                margin-bottom:rempts(12);
            }
        }
        &__link-block{
            list-style: none;
            display:flex;
            color:$color-bckgr-light-dark;
            margin-left:0;
            padding-left:0;
            &__icone{
                & i{
                margin:0 10px 0 0;
                width:3.7333vw;
                height:3.7333vw;
                font-size: rem(16.67);
                color:$color-bckgr-light-light;
                padding-left:0;
                }
                & a{
                    font-size: rempts(12);
                }
            }            
        }
    }
} 