
.header{
    display:flex;
    flex-direction:column;
    width:100%;
        &__site-title{
            padding:get-vw(20px) get-vw(20px) 0 get-vw(20px);
        }
        &__location{
            @include dajfcc;
            @include locationdgrd;
            flex-direction:row-reverse;
            width:100%;
            margin:auto;
            padding:get-vw(18px);
            height:get-vw(50px);
            &__city{
                display: inline-flex;
                font-family:'Roboto',sans-serif;
                font-size: rem(16);
                font-weight:700;
                text-align:center;
                margin:auto;
                &__icone{
                    display:inline-flex;
                    height:get-vw(17px);
                    width:get-vw(12px);
                    padding:0 get-vw(18px) 0 0;
                }
            }
        }
    }
