.header-site{
    display:flex;
    flex-direction:column;
    width:100%;
    &__site-title{
        padding:get-vw(20px) get-vw(20px) 0 get-vw(20px);
    }

.header-restaurant{
    display:flex;
    flex-wrap: nowrap;
    padding:get-vw(20px) get-vw(20px) 0 get-vw(20px);
    align-items: center; 
    &__site-title{
        & i{
            color:black;
            opacity:1;
        }
        & .fas .fa-arrow-left{
            opacity:1;
            color:black;
        }  
    }        
    
}