@media screen and (min-width: 1200px){

    //** Définition des polices de cracatères spécifiques*/
    //Sur le page d'accueil
    h1{
        font-size: rempts(40);
    }
    h3{
        font-size: rempts(30);
    }

    .link{
        &:hover{
            cursor:$cursor;
        }
    }
//Plocice du action-btn : bouton explorer de la page index.html
    .button-action{ 
        height: 8vw;
            &__explore a {
            font-size  : rempts(25);
            line-height: rempts(25);
            margin: auto;
            display: block;
        }
    }
//Définition des propriétés des polices propres à cette mdiaquery
body{
    z-index: -1;
    min-width: 1200px;
    max-width: 1980px;
    width: 100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: $color-bckgr-light-light;
}
header{
    display: block;
    position:relative;
    min-width: 1200px;
    max-width: 1980px;
    width:100%;
    max-width: 100%;
    padding: 20px 40px 20px 40px;
}
.header-site{
    display: block;
    min-width: 1120px;
    max-width: 1900px;
    width:100%;
    margin: auto;
    padding:0;
    &__site-title{
        display: block;
        position: relative;
        margin: auto;
        padding:0;
        &__backicone{
        }
    }
}
main{
    min-width: 1200px;
    max-width: 1980px;
}
.section__howto{
    background-color: transparent;
    padding: 0;
    margin:0;
    display: block;
    max-width: 100%;
    width: 90%;
}
.mdq3-top{
    	display : grid;
        max-width: 100%;
        width:100%;
        grid-template-columns : 1fr 1fr;
        grid-template-rows : 1fr;
        grid-row-end: auto;
        gap : 20px ;
        &__1{
            min-width: 45%;
            padding: 0 0 0 2vw;
            &__ti{
                display:inline-flex;
                flex-direction:column;
                width:100%;
                &__loc{
                    line-height:7vw;
                    height:7vw;
                    border-top:thin solid $color-fnt-ttl;
                    border-bottom:thin solid $color-fnt-ttl;
                    @include boxshadowhover2;
                    @include locationdgrd;
                    &__cy{
                        font-family:'Roboto',sans-serif;
                        font-size: rempts(25);
                        font-weight:700;
                        line-height:7vw;
                        transform:translate(-5.3333vw);
                        &__ic{
                            display:inline-flex;
                            line-height:7vw;
                            font-size: rempts(22);
                            transform:translate(0.5333vw);
                        }
                    }
                }
            }
        }
        &__2{
            z-index: 2;
            @include locationdgrd;
            min-width: 45%;
            max-width: 93%;
            display: block;
            width: 100%;
            position: relative;
            border-top:thin solid $color-fnt-ttl;
            &::before{
                z-index: 1;
                background-color: rgba(0,0,0,0.02);
                content: '';
                margin: 0;
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
            &__howto{
                z-index: 3;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                max-width: 100%;
                width: 100%;
                padding: 0 5vw;
                margin: auto;
                &__title{
                    z-index: 4;
                    padding:60px 40px 80px 20px;
                    display:block;
                    margin:0;
                }
                &__levels{
                    z-index: 4;
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr;
                    max-width: 80%;
                    width:100%;
                    gap: 80px;
                    &__level{ 
                        z-index: 5;  
                        max-height:80px;
                        height:100%;
                        padding:50px 40px 20px 0;            
                        #choose{
                            opacity: 0;
                            transition:transform $duration $delay-t-0;
                            animation: discovery $duration cubic-bezier(0.61, 0, 0.26, 1) forwards $delay-a-0;// Animation d'apparition de translation vers le haut
                        }
                        #compose{
                            opacity: 0;
                            transition:transform $duration $delay-t-1;
                            animation: discovery $duration cubic-bezier(0.61, 0, 0.26, 1) forwards $delay-a-1;// Animation d'apparition de translation vers le haut avec un décallage
                        }
                        #eat-in{
                            opacity: 0;
                            transition:translate $duration $delay-t-2;
                            animation: discovery $duration cubic-bezier(0.61, 0, 0.26, 1) forwards $delay-a-2;// Animation d'apparition de translation vers le haut avec un décallage
                        }
                        &__btn{
                            z-index: 6;
                        @include boutonsectionfonctionnement;
                        height:10vw;
                        max-width: 40%;
                        width: 50%;
                        display:  inline-flex;
                        border-radius: 1vw;
                        border:thin solid $color-secondary-hover;
                        &__nbr{
                            width: 1vw;
                            height: 1vw;
                            border-radius: 50%;
                            padding: 1vw 1vw 1vw 1.35vw;
                        }
                        &__icn{
                            transform: scale(1.8);
                        }
                        &__txt{
                            font-size: rempts(20);
                        }
                        }
                    }
                }
            }
        }
}


}


