@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

/*Couleurs de la charte graphique*/
/*Couleurs supplémentaires*/
/*originel : #d1d1d1*/
/*originel : #eaeaea*/
/*originel : #e5e5e5*/
/*originel : ##f6f6f6*/
/*originel : #e5e5e5*/
/*shadow*/
/*Arrondis des coins des boutons de la section fonctionnement de la page d'accueil*/
/*Arrondis des coins des images de la page d'accueil*/
/*@import "./utils/functions";*/
/*mixin de la couleur du bouton explorer*/
/*Mixin ombre*/
/*Mixin DAJFCC*/
/*mixin dégradé localisation*/
/*mixin propriété des images de la page d'accueil*/
/*Mixin création bouton fonctionnement index.tml*/
/*Mixin création bouton fonctionnement index.tml*/
/*@import "./utils/extensions";*/
/*
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
}
*/
body {
  box-sizing: border-box;
  background: #FFFFFF;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

section {
  padding: 5.33vw;
}

/*
body {
    font-family: 'Roboto', sans-serif;
    color: $color-primary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}



textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}
*/
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 23pts;
}

*:hover {
  cursor: url("icn-bck.png"), pointer;
}

/*@import "./components/buttons";*/
/*@import "./layout/header";*/
/*@import "./layout/nav";*/
/*@import "./layout/container";*/
/*@import "./layout/form";*/
/*@import "./pages/work";*/
/*@import "./pages/about";*/
/*@import "./pages/project";*/
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__site-title {
  padding: 5.333vw 5.333vw 0 5.333vw;
}
.header__logo {
  display: block;
  width: 100%;
  height: auto;
}
.header__location {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  background: -moz-linear-gradient(0deg, #ebebeb 0%, #ebebeb 88%, #d1d1d1 100%);
  background: -webkit-linear-gradient(0deg, #ebebeb 0%, #ebebeb 88%, #d1d1d1 100%);
  background: linear-gradient(0deg, #ebebeb 0%, #ebebeb 88%, #d1d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$color-lgray",endColorstr="$color-fgray",GradientType=1);
  margin: auto;
  padding: 18px;
}
.header__location i {
  display: inline-block;
  height: 17px;
  width: 12px;
}
.header__location__city {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  font-weight: 700;
}

section {
  display: block;
  clear: both;
}
section .section {
  display: block;
  clear: both;
}
section .section__welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
section .section__welcome__title {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
  font-weight: 700;
}
section .section__welcome__description {
  font-family: "Roboto", sans-serif;
  font-size: 13pt;
  font-weight: 500;
}
section .section__welcome__button {
  background: #9356dc;
  background: linear-gradient(350deg, #9356dc 0%, #9356dc 35%, #FF79DA 100%);
  display: flex;
  border-radius: 50px;
  height: 50px;
  width: 217px;
  padding: 0px;
  margin: auto;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px 5px #e6e6e6;
  -moz-box-shadow: 3px 3px 10px 5px #e6e6e6;
  box-shadow: 3px 3px 10px 5px #e6e6e6;
}
section .section__welcome__button__explore {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  font-weight: 700;
  margin: auto;
  color: #fff;
}
section .section__welcome__button__explore:hover {
  cursor: url("icn-bck.png"), pointer;
}
section .section-howto {
  display: block;
  width: 100%;
}
section .section-howto__title {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
  font-weight: 700;
}
section .section-howto__secondlevel {
  display: flex;
  align-items: center;
  justify-content: center;
}
section .section-howto__secondlevel__button {
  display: block;
  background-color: whitesmoke;
  width: px;
  height: px;
  border-radius: px;
  box-shadow: px;
  border-radius: 40px;
}
section .section-howto__secondlevel__button:hover {
  cursor: url("icn-bck.png"), pointer;
}
section .section-howto__secondlevel__button__content {
  display: inline-flex;
}

/*# sourceMappingURL=style.css.map */
