@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

/*Taille de la police de référence*/
/*Couleurs de la charte graphique*/
/*originel : #d1d1d1*/
/*Couleurs supplémentaires*/
/*originel : #d1d1d1*/
/*originel : #eaeaea*/
/*originel : #e5e5e5*/
/*originel : ##f6f6f6*/
/*originel : #e5e5e5*/
/*shadow*/
/*Arrondis des coins des boutons de la section fonctionnement de la page d'accueil*/
/*Arrondis des coins des images de la page d'accueil*/
/*arrondis des blocs de la liste des restaurant */
/*Arrondi fond page restaurant (sous image entete)*/
/*Valeur du device-width*/
/* map di'cones font-awesome)*/
/*$mapfaicones:(
    choose:fas fa-mobile-alt,
    compose:fas fa-list,
    eat-in:fas fa-store,
    emptyheart:far fa-heart,
    fullheart:fas fa-heart,
    food:fas fa-utensils,
    hands:fas fa-hands-helping
);*/
/*Choix du curseur : pointer = doigt / help =fleche et ? / wait = anneau tournant / crosshair = croix style viseur / not/allowed = panneau interdit/ zoom-in = loupe ave +/ grab = main-ouvert*/
/* fonction rem pour calculer automatiquement les dimensions en rem tout en indiquant les valeurs mesurées en px sur la maquette*/
/* La fonction appelée rem utilise la valeur indiquée entre les paranthèses
dans les propriétés. Sans valeur, elle utilise la variable $originfnt
qui est la variable, facile à changer de la taille de texte de référence inscrite dans le body.
la fonction unitless permet d'extraire la valeur sans son unité
pour faire le calcul de la conversions finale en divisant la valeur (sans unité)
de la taille de la police dans le "context" (donc, la valeur par défaut si rien est indiqué,
soit la valeur précisée entre paranthèse.
Pour l'utiliser, ecrire par exemple : font-size: rem(15) ce qui fournir la valeur équivalente à 15pts en rem)*/
/*mixin de la couleur du bouton action*/
/*Mixin ombre*/
/*Mixin DAJFCC*/
/*mixin dégradé localisation*/
/*mixin propriété des images de la page d'accueil*/
/*Mixin création bouton fonctionnement index.tml*/
/*Mixin création bouton fonctionnement index.tml*/
/*@import "./utils/extensions";*/
/*
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*/
html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  background: whitesmoke;
  width: 100%;
  height: 100%;
  margin: auto;
}

header {
  margin: auto;
}

section {
  margin: auto;
}

main {
  margin: 0;
  padding: 0;
}

footer {
  background: #535353;
  padding: 5.8666666667vw 6.6666666667vw 8.5333333333vw 6.6666666667vw;
  margin-top: 9.3333333333vw;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  /*pseudo.classes : respecter l'ordre : "LiViHoFoAct"*/
  font-family: "Shrikhand", cursive;
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  margin: auto;
}
h1:hover {
  cursor: pointer;
}
h2 {
  font-size: 1.791875rem;
  color: #000;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #000;
}

h4 {
  font-size: 1rem;
  color: #000;
  text-transform: uppercase;
}

h5 {
  font-size: 1.125rem;
  color: #000;
}
h5:last-child h5#last-title {
  font-size: 1.108125rem;
  font-weight: 700;
}
h5:hover {
  cursor: pointer;
}

h6 {
  font-size: 1.041875rem;
  color: #000;
  font-weight: 300;
}
h6:last-child h6#last-desc {
  font-size: 1.025rem;
  font-weight: 700;
}
h6:hover {
  cursor: pointer;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.section__welcome__title h3 {
  color: #000;
}
.section__welcome__title span {
  color: #000;
  font-size: 1.083125rem;
  font-weight: 700;
}

li {
  list-style: none;
}

.pricefont {
  color: #000;
  font-size: 0.916875rem;
}

.dish {
  /*plat*/
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}

.new {
  font-size: 1rem;
  font-weight: 700;
}

.btntxt__nav--lnk {
  /*Bouton de navigation de la page d'accueil*/
  font-size: 1rem;
  font-weight: 700;
}
.btntxt__action {
  /*Bouton d'action - explorer sur index.html et commander sur page restaurant*/
  font-size: 0.75rem;
}

img {
  max-width: 100vw;
}

.fas {
  margin: 0 20px;
}

.fa-heart {
  margin: 0;
}

.ficone {
  margin-left: 0;
}

.button-action {
  background: #9356dc;
  background: linear-gradient(350deg, #9356dc 0%, #9356dc 35%, #FF79DA 100%);
  -webkit-box-shadow: 3px 3px 10px 5px #e6e6e6;
  -moz-box-shadow: 3px 3px 10px 5px #e6e6e6;
  box-shadow: 3px 3px 10px 5px #e6e6e6;
  height: 13.3333333333vw;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  width: 57.8666666667vw;
  position: relative;
  background: #9356dc;
  background: linear-gradient(350deg, #9356dc 0%, #9356dc 35%, #FF79DA 100%);
}
.button-action__explore a {
  display: block;
  margin: auto;
  color: #fff;
  vertical-align: middle;
  position: relative;
}
.button-action:hover {
  cursor: pointer;
  background-color: #FF79DA;
}

.btnheart {
  position: relative;
  width: 5.8666666667vw;
  height: 5.8666666667vw;
  right: 22px;
  z-index: 3;
}
.btnheart .far {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  opacity: 1;
}
.btnheart .fas {
  position: absolute;
  top: 0;
  left: 0;
  color: #9356dc;
  opacity: 0;
}
.btnheart:hover .fas {
  opacity: 1;
  transition: opacity 1500ms ease-in;
  cursor: pointer;
}
.btnheart:hover .far {
  opacity: 0;
  transition: opacity 1500ms ease-in;
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
}

.header-site {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-site__site-title {
  padding: 5.3333333333vw 5.3333333333vw 0 5.3333333333vw;
}

.header-restaurant {
  display: flex;
  flex-wrap: nowrap;
  padding: 5.3333333333vw 5.3333333333vw 0 5.3333333333vw;
  align-items: center;
}
.header-restaurant__site-title i {
  color: black;
  opacity: 1;
}
.header-restaurant__site-title .fas .fa-arrow-left {
  opacity: 1;
  color: black;
}

/*@import "./layout/nav";*/
.container-fluid {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  background-color: whitesmoke;
}

.page {
  width: 100vw;
}
.page #page-restaurant {
  display: flex;
  flex-direction: column;
}

/*@import "./layout/form";*/
.footer-logo {
  margin-bottom: 6.4vw;
}
.footer-logo a {
  /*logo ohmyfood dans le footer*/
  font-size: 1.125rem;
  font-family: "Shrikhand", cursive;
  color: whitesmoke;
}

.footer-menu {
  margin: 0;
  padding: 0;
}
.footer-menu ul {
  margin: 0;
  padding: 0;
}
.footer-menu ul li {
  margin-bottom: 0.75rem;
}
.footer-menu__link-block {
  list-style: none;
  display: flex;
  color: whitesmoke;
  margin-left: 0;
  padding-left: 0;
}
.footer-menu__link-block__icone i {
  margin: 0 get-wv(10px) 0 0 0;
  width: get-wv(14px);
  height: get-wv(14px);
  font-size: 1.041875rem;
  color: #FFFFFF;
  padding-left: 0;
}
.footer-menu__link-block__icone a {
  font-size: 1.041875rem;
}

* {
  padding: 0;
  margin: 0;
}

.top-index__resto-image img {
  max-width: 100vw;
}
.top-index__bottom {
  border-radius: 40px;
  transform: translateY(-40px);
  background-color: whitesmoke;
  padding: 9.3333333333vw 5.3333333333vw 0 5.3333333333vw;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: end;
}
.top-index__bottom__resto-name h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  position: relative;
}
.top-index__bottom__resto-clic {
  opacity: 1;
  position: absolute;
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin: 0 5.3333333333vw;
}
.menus__blocks {
  margin: 0 0 9.3333333333vw 0;
  position: relative;
  height: 72.5333333333vw;
}
.menus__blocks h4 {
  margin: 0 0 6.6666666667vw 0;
}
.menus__blocks__content {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-shadow: 3px 3px 10px 5px #e6e6e6;
  -moz-box-shadow: 3px 3px 10px 5px #e6e6e6;
  box-shadow: 3px 3px 10px 5px #e6e6e6;
  background-color: #FFFFFF;
  border-radius: 12px;
  height: 18.4vw;
  margin-bottom: 2.9333333333vw;
  position: relative;
  align-items: end;
  overflow: hidden;
  cursor: pointer;
}
.menus__blocks__content__recipe {
  padding: 4vw 0 4vw 2.9333333333vw;
  position: relative;
}
.menus__blocks__content__recipe__title h5 {
  padding: 0 0 2.4vw 0;
}
.menus__blocks__content__recipe__desc h6 {
  margin: 0;
  padding: 0;
}
.menus__blocks__content:hover > .menus__blocks__content__validate, .menus__blocks__content:hover > .menus__blocks__content__price {
  transform: translate(-16vw);
  cursor: pointer;
}
.menus__blocks__content__price {
  position: absolute;
  right: 5.8666666667vw;
  top: 50%;
  transition: transform 500ms ease-in-out 100ms;
  transition-timing-function: cubic-bezier(0.5, 0.64, 0, 1);
}
.menus__blocks__content__validate {
  position: absolute;
  width: 16vw;
  height: 100%;
  background-color: #99E2D0;
  right: -16vw;
  top: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 0 12px 12px 0;
  transition: transform 500ms ease-in-out;
  transition-timing-function: cubic-bezier(0.5, 0.64, 0, 1);
}
.menus__blocks__content__validate i {
  color: #99E2D0;
  background-color: #fff;
  border-radius: 25px;
  width: 5.8666666667vw;
  height: 5.8666666667vw;
  text-align: center;
  position: absolute;
  margin: 0;
  padding: 0%;
}

/*@import "./pages/about";*/
/*@import "./pages/project";*/
.top-index {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top-index__site-title {
  padding: 5.3333333333vw 5.3333333333vw 0 5.3333333333vw;
}
.top-index__location {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  background: linear-gradient(0deg, #ebebeb 0%, #ebebeb 88%, #d1d1d1 100%);
  flex-direction: row;
  width: 100%;
  margin: auto;
  padding: 4.2666666667vw 0;
  height: 13.3333333333vw;
}
.top-index__location__city {
  display: inline-flex;
  flex-direction: row-reverse;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: auto;
}
.top-index__location__icone {
  display: inline-flex;
  height: 4.5333333333vw;
  width: 3.2vw;
  padding: 0 2.1333333333vw 0 0;
}

.section__welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex-wrap: nowrap;
}
.section__welcome__txtcontent__title {
  text-align: center;
}
.section__welcome__txtcontent__slug {
  font-family: "Roboto", sans-serif;
  font-size: 1.083125rem;
  font-weight: 500;
}
.section__howto {
  margin: 0 5.3333333333vw;
  display: block;
  width: 100%;
  max-width: 89.3333333333vw;
}
.section__howto__title {
  padding: 0 9.3333333333vw;
}
.section__howto__level {
  display: block;
  width: 89.3333333333vw;
  max-width: 100%;
  padding: 6.6666666667vw 0 6.6666666667vw 0vw;
}
.section__howto__level__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 19.2vw;
  width: 86.1333333333vw;
  padding: 0px;
  margin: auto;
  background-color: whitesmoke;
  box-shadow: 1.3333333333vw 1.3333333333vw #e6e6e6;
  border-radius: 12px;
  align-items: center;
  background: #ebebeb;
  -webkit-box-shadow: 3px 3px 10px 5px #e6e6e6;
  -moz-box-shadow: 3px 3px 10px 5px #e6e6e6;
  box-shadow: 3px 3px 10px 5px #e6e6e6;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  max-width: 86.1333333333vw;
}
.section__howto__level__button:hover {
  cursor: pointer;
  background-color: #F4EEFB;
}
.section__howto__level__button__number {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  border-radius: 50%;
  transform: translate(-50%, 0);
  padding: 2.1333333333vw 2.6666666667vw 1.6vw 2.6666666667vw;
  background-color: #9356dc;
  color: #FFFFFF;
}
.section__howto__level__button__icone {
  transform: scale(1.5);
  margin: 0 5.3333333333vw;
}
.section__howto__level__button__icone #choose {
  width: 3.7333333333vw;
  height: 5.3333333333vw;
  padding: 0 1.6vw;
}
.section__howto__level__button__icone #compose {
  width: 5.0666666667vw;
  height: 5.3333333333vw;
  padding: 0 0.2666666667vw;
}
.section__howto__level__button__icone #eat-in {
  width: 5.0666666667vw;
  height: 5.3333333333vw;
  padding: 0 0.2666666667vw;
}
.section__howto__level__button__txt {
  text-align: center;
}
.section__list {
  max-width: 100%;
  margin: 6.1333333333vw 5.3333333333vw;
  padding: 2.4vw 0;
}
.section__list__title {
  margin-bottom: 2.4vw;
}
.section__list__block {
  background-color: #FFFFFF;
  box-shadow: vw(5px) vw(5px) #e6e6e6;
  height: 67.2vw;
  margin: 4.8vw 0 0 0;
  -webkit-box-shadow: 3px 3px 10px 5px #e6e6e6;
  -moz-box-shadow: 3px 3px 10px 5px #e6e6e6;
  box-shadow: 3px 3px 10px 5px #e6e6e6;
  border-radius: 12px;
}
.section__list__block:last-child {
  margin-bottom: 4.8vw;
}
.section__list__block__img {
  position: relative;
}
.section__list__block__img__image {
  max-width: 89.333vw;
  max-width: 100vw;
  width: 100%;
  max-height: 46.4vw;
  overflow: hidden;
  height: auto;
  margin: auto;
  border-radius: 12px 12px 0 0;
  z-index: 1;
  max-width: 100%;
}
.section__list__block__img__new {
  position: absolute;
  top: 7.428571%;
  /* 13/175 */
  right: 3.283582%;
  /* 11/335 */
  z-index: 2;
  color: #99E2D0;
  padding: 2.4vw 3.4666666667vw;
  background: #278870;
  margin: 2.6666666667vw 8.5333333333vw 2.6666666667vw 3.2vw;
  max-width: 21.3333333333vw;
  font-size: 0.875rem;
  font-weight: 500;
}
.section__list__block__content {
  min-height: 31%;
  padding-left: 3.7333333333vw;
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
}
.section__list__block__content__txt {
  text-decoration: none;
}
.section__list__block__content__txt__title {
  padding: 0;
  margin: 0;
}
.section__list__block__content__txt__title a {
  color: #000;
}
.section__list__block__content__txt__description {
  margin: 0;
  padding: 0;
}
.section__list__block__content__btnheart {
  width: 5.8666666667vw;
  height: 5.8666666667vw;
  right: 22px;
  z-index: 3;
}
.section__list__block__content__btnheart:hover {
  background-color: #FF79DA;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
