@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

/*Taille de la police de référence*/
/*Couleurs de la charte graphique*/
/*Couleurs supplémentaires*/
/*originel : #d1d1d1*/
/*originel : #eaeaea*/
/*originel : #e5e5e5*/
/*originel : ##f6f6f6*/
/*originel : #e5e5e5*/
/*shadow*/
/*Arrondis des coins des boutons de la section fonctionnement de la page d'accueil*/
/*Arrondis des coins des images de la page d'accueil*/
/* fonction rem pour calculer automatiquement les dimensions en rem tout en indiquant les valeurs mesurées en px sur la maquette*/
/* La fonction appelée rem utilise la valeur indiquée entre les paranthèses
dans les propriétés. Sans valeur, elle utilise la variable $originfnt
qui est la variable, facile à changer de la taille de texte de référence inscrite dans le body.
la fonction unitless permet d'extraire la valeur sans son unité
pour faire le calcul de la conversions finale en divisant la valeur (sans unité)
de la taille de la police dans le "context" (donc, la valeur par défaut si rien est indiqué,
soit la valeur précisée entre paranthèse.
Pour l'utiliser, ecrire par exemple : font-size: rem(15) ce qui fournir la valeur équivalente à 15pts en rem)*/
/*mixin de la couleur du bouton explorer*/
/*Mixin ombre*/
/*Mixin DAJFCC*/
/*mixin dégradé localisation*/
/*mixin propriété des images de la page d'accueil*/
/*Mixin création bouton fonctionnement index.tml*/
/*Mixin création bouton fonctionnement index.tml*/
/*@import "./utils/extensions";*/
/*
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
}
*/
body {
  box-sizing: border-box;
  background: #FFFFFF;
  width: 100vw;
  font-size: 16px;
}
body container-fluid {
  padding: 5.33vw;
}
body container-fluid.pagemain section {
  display: block;
  clear: both;
}

* {
  font-family: "Roboto", sans-serif;
}

*:hover {
  cursor: url("icn-bck.png"), pointer;
}

h1 {
  /*pseudo.classes : respecter l'ordre : "LiViHoFoAct"*/
  font-family: "Shrikhand", cursive;
  font-size: 1.9375rem;
  font-weight: 700;
  text-align: center;
  margin: auto;
}
h2 {
  font-size: 1.791875rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 1.125rem;
}
h5:last-child h5#last-title {
  font-size: 1.108125rem;
  font-weight: 700;
}
h6 {
  font-size: 1.041875rem;
}
h6:last-child h6#last-desc {
  font-size: 1.025rem;
  font-weight: 700;
}

.pricefont {
  font-size: 0.2089552239rem;
}

.meat {
  font-size: 1rem;
  font-weight: 500;
}

.new {
  font-size: 1rem;
  font-weight: 700;
}

.btn__nav--lnk {
  /*Bouton de navigation de la page d'accueil*/
  font-size: 1rem;
  font-weight: 700;
}
.btn__action {
  /*Bouton d'action - explorer sur index.html et commander sur page restaurant*/
  font-size: 0.75rem;
}

footer__title {
  /*logo ohmyfood dans le footer*/
  font-size: 1.125rem;
  font-family: "Shrikhand", cursive;
}
footer__link {
  font-size: 1.041875rem;
}
footer__link--top {
  font-weight: 700;
}
/*Font-Awesome html code for icones :
full-check-circle : <i class="fas fa-check-circle"></i>
empty-ckeck-circle: <i class="far fa-check-circle"></i>
<i class="fas fa-map-marker-alt"></i>
<i class="fas fa-mobile-alt"></i>
<i class="fas fa-list"></i>
<i class="far fa-heart"></i>
<i class="far fa-hand-point-up"></i>
*/
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__site-title {
  padding: 5.333vw 5.333vw 0 5.333vw;
}
.header__logo {
  display: block;
  width: 100%;
  height: auto;
}
.header__location {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  background: -moz-linear-gradient(0deg, #ebebeb 0%, #ebebeb 88%, #d1d1d1 100%);
  background: -webkit-linear-gradient(0deg, #ebebeb 0%, #ebebeb 88%, #d1d1d1 100%);
  background: linear-gradient(0deg, #ebebeb 0%, #ebebeb 88%, #d1d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$color-lgray",endColorstr="$color-fgray",GradientType=1);
  margin: auto;
  padding: 18px;
}
.header__location i {
  display: inline-block;
  height: 17px;
  width: 12px;
}
.header__location__city {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  font-weight: 700;
}

/*@import "./layout/nav";*/
/*@import "./layout/container";*/
/*@import "./layout/form";*/
/*@import "./pages/work";*/
/*@import "./pages/about";*/
/*@import "./pages/project";*/
.section__welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex-wrap: nowrap;
  width: 100%;
}
.section__welcome__title {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
  font-weight: 700;
  text-align: center;
}
.section__welcome__title blockquote {
  font-size: 1.083125rem;
  font-weight: 500;
}
.section__welcome__description {
  font-family: "Roboto", sans-serif;
  font-size: 13pt;
  font-weight: 500;
}
.section__welcome__button {
  background: #9356dc;
  background: linear-gradient(350deg, #9356dc 0%, #9356dc 35%, #FF79DA 100%);
  display: flex;
  border-radius: 50px;
  height: 50px;
  width: 217px;
  padding: 0px;
  margin: auto;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px 5px #e6e6e6;
  -moz-box-shadow: 3px 3px 10px 5px #e6e6e6;
  box-shadow: 3px 3px 10px 5px #e6e6e6;
}
.section__welcome__button__explore {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  font-weight: 700;
  margin: auto;
  color: #fff;
}
.section__welcome__button__explore:hover {
  cursor: url("icn-bck.png"), pointer;
}
.section__howto {
  display: block;
  width: 100%;
}
.section__howto__title {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
  font-weight: 700;
}
.section__howto__secondlevel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__howto__secondlevel__button {
  display: block;
  background-color: whitesmoke;
  width: px;
  height: px;
  border-radius: px;
  box-shadow: px;
  border-radius: 40px;
}
.section__howto__secondlevel__button:hover {
  cursor: url("icn-bck.png"), pointer;
}
.section__howto__secondlevel__button__content {
  display: inline-flex;
}
.section__list__second-level__block {
  background-color: #FFFFFF;
  box-shadow: 1.0667vw 1.0667vw #e6e6e6;
}
.section__list__second-level__block__img {
  max-width: 89.333vw;
  width: 100%;
  max-height: 46.4vw;
  overflow: hidden;
  height: auto;
  margin: auto;
  border-radius: 8vw 8vw 0 0;
}
.section__list__second-level__block__img img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
