html{
    display:block;
    width: 100%;
    height: auto;
    font-size:16px;
    margin:0;
    padding:0;
    overflow:auto;
    background-color: $backgndclr;
}
body{
    background: $color-bckgr-light-dark;
    width:100%;
    height:auto;
    margin:auto;
    overflow:auto;
}
section#topresto {
    margin-top: -26.6667vw;
}
section{
    margin:auto;
    padding:43px 0 14.6667vw 0;
    background-color: $color-bckgr-light-light;
}
.btn-commander {
    display: block;
    position: relative;
    background-color: #fff;
    margin: -2.1333vw auto 0 auto;
    padding-bottom: 15.2vw;
}
footer{
    background:#535353;
    padding:5.8667vw 6.6667vw 8.5333vw 6.6667vw;
    margin:0;
}
.container-fluid{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    width:100%;
    height:100%;
    margin:auto;
    padding:0;
    background-color: $color-bckgr-light-dark;
    //animation: moovecontainerfluid 100ms ease-in 5300ms forwards 1;
    animation : spinloader 110ms 5600ms backwards 1;
  }
  .page{
    margin:0;
    padding: 0;
    width:100%;
    background-color: $color-bckgr-light-light;
    &#page-restaurant{
        display: flex;
        flex-direction: column;
        margin:0;
        padding: 0;
        animation: speedloader 100ms ease 5ms 1 both;
        background-color: $color-bckgr-light-dark;       
    }
}
header{
    padding:5.3333vw 5.3333vw 3.2vw 5.3333vw;
    background-color: $color-bckgr-light-light;
}
/**@media screen and (min-width: 601px) and (max-width: 1200px){
    html{
        font-size:20px;
    }
}*/
@media all and (min-width: 1200px){
    html{
        font-size:24px;
    }
    body{
        z-index: -1;
        min-width: 1200px;
        width: 100vw;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background-color: $color-bckgr-light-light;
    }
    header{
        display: block;
        position:relative;
        min-width: 1200px;
        width:100%;
        max-width: 100%;
        padding: 0;
    }
    
    main{
        min-width: 1200px;
        min-width: 1200px;
        max-width: 100%;
        width: 100%;
    }
    section{
        margin:auto 0;
        padding:3vw 1vw;
    }
    .btn-commander{
        padding: 4vw 28vw 4vw 28vw;
    }
}
