
html{
    display:block;
    width: 100%;
    height: auto;
    font-size:16px;
    margin:0;
    padding:0;
    overflow:auto;
}
body{
    background: $color-bckgr-light-dark;
    width:100%;
    height:auto;
    margin:auto;
    overflow:auto;
}
section#topresto {
    margin-top: -100px;
}
section{
     margin:auto;
     padding:43px 0 55px 0;
    &#btn-commander{
        padding:0 0 57px 0;
        margin: -8px auto 25px auto;
    }
}
main{
    margin:0;
    padding:0;
}
footer{
    background:#535353;
    padding:22px 25px 32px 25px;
    margin:0;
}

