/*
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
}
*/

body {
    box-sizing: border-box;
    background: $color-bckgr-light-light;
    width:100vw;
    font-size:$originfnt;
    & container-fluid{
        padding:5.33vw;
        &.page{
            &header{

            }
            &main{
                & section{       
                display:block;
                clear:both;
                }
            }
        }
    }
}