/*
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*/
html {
    font-size:16px;
}
body {
    box-sizing: border-box;
    background: $color-bckgr-light-dark;
    width:100%;
    height:100%;
    margin:auto;
}
header{
    margin:auto;
}
section{
     margin:auto;
}
main{
    margin:0;
    padding:0;
}
footer{
    background:#535353;
    padding:get-vw(22px) get-vw(25px) get-vw(32px) get-vw(25px);
    margin-top:get-vw(35px);
}