/*
body {
    font-family: 'Roboto', sans-serif;
    color: $color-primary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}



textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}
*/
*{
    font-family:'Roboto', sans-serif;
}
*:hover{
    cursor: url("icn-bck.png"), pointer;
}
h1{ /*pseudo.classes : respecter l'ordre : "LiViHoFoAct"*/
    font-family: 'Shrikhand', cursive;
    font-size: rem(31);
	&:link{}
	&:visited{}
	&:hover{}
	&:focus{}
	&:active{}
}

h2{
    font-size: rem(18px);
	&:link{}
	&:visited{}
	&:hover{}
	&:focus{}
	&:active{}
}

h3{
    font-size: rem(12px);
	&:link{}
	&:visited{}
	&:hover{}
	&:focus{}
	&:active{}
}

h4{
    font-size: rem(15px);
	&:link{}
	&:visited{}
	&:hover{}
	&:focus{}
	&:active{}
}

h5{
    font-size: rem(13px);
	&:link{}
	&:visited{}
	&:hover{}
	&:focus{}
	&:active{}
}

h6{
    font-size: rem(10px);
	&:link{}
	&:visited{}
	&:hover{}
	&:focus{}
	&:active{}
}

p{}

ul{
	&li{}
}

ol{
	&li{}
}

form{}

table{
	&tr{}
	&td{}
}

a{}
