*{
    font-family:'Roboto', sans-serif;
}
*:hover{
    cursor: url("icn-bck.png"), pointer;
}
h1{ /*pseudo.classes : respecter l'ordre : "LiViHoFoAct"*/
    font-family: 'Shrikhand', cursive;
    font-size: rem(31);
	font-weight:700;
	text-align: center;
	margin:auto;
	&:link{}
	&:visited{}
	&:hover{}
	&:focus{}
	&:active{}
}

h{
	&2{
	font-size: rem(28.67);
	}
	&3{
	font-size: rem(24);
	font-weight:900;
	}
	&4{
	font-size: rem(16);	
	}
	&5{
	font-size: rem(18);
		&:last-child &#last-title{
			font-size: rem(17.73);
			font-weight:700;
		}
	}
	&6{
	font-size: rem(16.67);
		&:last-child &#last-desc{
			font-size: rem(16.4);
			font-weight:700;
		}
	}
}
.section__welcome__title{
	
}
.pricefont{
	font-size: rem(14,67);
}
.meat{
	font-size: rem(16);
	font-weight:500;
}
.new{
	font-size: rem(16);
	font-weight:700;
}
.btn{
	&__nav--lnk{/*Bouton de navigation de la page d'accueil*/
		font-size: rem(16);
		font-weight:700;
	}
	&__action{/*Bouton d'action - explorer sur index.html et commander sur page restaurant*/
		font-size: rem(12);
	}
}
footer{
	&__title{/*logo ohmyfood dans le footer*/
		font-size: rem(18);
		font-family: 'Shrikhand', cursive;
	}
	&__link{
		font-size: rem(16.67);
		&--top{
			font-weight:700;
			& i{

			}
		}
	}
}
