*{
    font-family:'Roboto', sans-serif;
}
h1{ /*pseudo.classes : respecter l'ordre : "LiViHoFoAct"*/
    font-family: 'Shrikhand', cursive;
    font-size: rem(30);
	font-weight:700;
	text-align: center;
	margin:auto;
	&:hover{cursor:$cursor};
}

h2{
	font-size: rem(28.67);
	color:$color-fnt;
	}
h3{
	font-size: rem(24);
	font-weight:900;
	color:$color-fnt;
	}
h4{
	font-size: rem(16);
	color:$color-fnt;
	text-transform: uppercase;
	}
h5{
	font-size: rem(18);
	color:$color-fnt;
		&:last-child &#last-title{
			font-size: rem(17.73);
			font-weight:700;
		}
		&:hover{cursor:$cursor};
	}
h6{
	font-size: rem(16.67);
	color:$color-fnt;
	font-weight: 300;
		&:last-child &#last-desc{
			font-size: rem(16.4);
			font-weight:700;
		}
		&:hover{cursor:$cursor};
}

a{
	color:$color-fnt;
	text-decoration: none;
}

.section__welcome__title{
	& h3{
		color:$color-fnt;
	}
	& span{
		color:$color-fnt;
		font-size: rem(17.33);
		font-weight:700;
	}
	& a{
		color:$color-fnt;
	}	
}
li{
	list-style: none;
}
.pricefont{
	color:$color-fnt;
	font-size: rem(14.67);
}
.dish{/*plat*/
	color:$color-fnt;
	font-size: rem(16);
	font-weight:500;
}
.new{
	font-size: rem(16);
	font-weight:700;
}
.btntxt{
	&__nav--lnk{/*Bouton de navigation de la page d'accueil*/
		font-size: rem(16);
		font-weight:700;
	}
	&__action{/*Bouton d'action - explorer sur index.html et commander sur page restaurant*/
		font-size: rem(12);
	}
}
footer{
	& a{
		color:$color-bckgr-light-dark;
		&:hover{
			cursor:$cursor;
			//text-decoration: underline;
			text-shadow: rem(3) rem(3) rem(3) $ccolor-btn-index-hover;
		}
	}
}
