.bodyloader{ // conteneur du loader
    display: block;
    content:'';
    position: absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    max-height: 100%;
}
.masterbox{ // conteneur de la partie arrière de l"animation : exemple rond blanc transparent servant de guide aux quart de cele tournant
    display: flex;
    width: $ldrcrclbxwidth * 2;
    height:$ldrcrclbxheight * 2;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    width:100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    &__box{ // conteneur de la partie avant de l"animation (exemple : 1/4 de cercle blanc tournant
        display: inline-flex;
        position: relative;
        width: 100%;
        max-width: 100%;
        height:100%;
        max-height: 100%;
        margin:auto;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        text-align: center;
    }
}
.sectionloader{
    //user-select: none;
    opacity: 0;
    z-index: 1;
    margin:auto;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    scale:1;
    font-size: 40px;
    animation : loadspinner 5500ms backwards 1;
    &__loader-container{
        z-index: 3;
        position:$positionr;
        border-radius:$ldrbxradius;
        width: $ldrcrclbxwidth;
        height:$ldrcrclbxheight;
        margin:auto;
        &__loader-box{
            z-index: 4;
            position:$positionr;
            width: $ldrcrclbxwidth;
            height:$ldrcrclbxheight;
            margin:auto;
            &__loader{  // cercle interne
                z-index: 5;
                position:$positiona;
                margin: auto;
                width:$ldrcirclesz1;
                height:$ldrcirclesz1;
                &__loader-round{ 
                    z-index: 6;
                    position:$positiona;
                    margin:$ldrcrclbxheight - $ldrbxwidth1;
                    width:$ldrcirclesz1;
                    height:$ldrcirclesz1;
                    border-radius:$ldrcirclesz1;
                    border:$ldrbxwidth1 solid rgba(255,255,255,.4);
                    &::after{ // 1/4 de cercle tournant
                        z-index: 7;
                        position:$positiona;
                        top:0;
                        left:0;
                        content:" ";
                        top:-$ldrbxwidth1;
                        left:-$ldrbxwidth1;
                        bottom: -$ldrbxwidth1;
                        right: -$ldrbxwidth1;
                        border-radius: $ldrcirclesz1;
                        border:$ldrbxwidth1 solid transparent;
                        border-top-color:$colour-white;
                        animation: circle1-1 1000ms linear 0s infinite;
                    }
                    &::before{ // 1/4 de cercle tournant
                        z-index: 8;
                        position:$positiona;
                        top:0;
                        left:0;
                        content:" ";
                        top:-$ldrbxwidth1;
                        left:-$ldrbxwidth1;
                        bottom: -$ldrbxwidth1;
                        right: -$ldrbxwidth1;
                        border-radius: $ldrcirclesz1;
                        border:$ldrbxwidth1 solid transparent;
                        border-top-color:$colour-white;
                        animation: circle1-2 1000ms linear 0s infinite;
                    }
                }
            }
            &__loader2{ // cercle externe
                z-index: 5;
                position:$positiona;
                margin: auto;
                width:$ldrcirclesz2;
                height:$ldrcirclesz2;
                &__loader2-round{
                    z-index: 6;
                    position:$positiona;
                    margin:$ldrcrclbxheight - $ldrbxwidth2;
                    width:$ldrcirclesz2;
                    height:$ldrcirclesz2;
                    border-radius:$ldrcirclesz2;
                    border:$ldrbxwidth2 solid rgba(255,255,255,.4);
                    &::after{ // 1/4 de cercle tournant
                        z-index: 7;
                        position:$positiona;
                        content:" ";
                        transform-origin:center;
                        top:-$ldrbxwidth2;
                        left:-$ldrbxwidth2;
                        bottom: -$ldrbxwidth2;
                        right: -$ldrbxwidth2;
                        border-radius: $ldrcirclesz2;
                        border:$ldrbxwidth2 solid transparent;
                        border-top-color:$colour-white;
                        animation: circle2-1 1000ms linear 0s infinite;
                    }
                    &::before{ // 1/4 de cercle tournant
                        z-index: 7;
                        position:$positiona;
                        content:" ";
                        transform-origin:center;
                        top:-$ldrbxwidth2;
                        left:-$ldrbxwidth2;
                        bottom: -$ldrbxwidth2;
                        right: -$ldrbxwidth2;
                        border-radius: $ldrcirclesz2;
                        border:$ldrbxwidth2 solid transparent;
                        border-top-color:$colour-white;
                        animation: circle2-2 1000ms linear 0s infinite;
                    }
                }
            }
            &__loader3{ // bordure externe à ombre blanche tournante
                z-index: 5;
                position:$positiona;
                margin:$ldrcrclbxheight - $ldrbxwidth3;
                width:$ldrcirclesz3;
                height:$ldrcirclesz3;
                &__loader3-round{
                    z-index: 7;
                    position:$positiona;
                    width:$ldrcirclesz3;
                    height:$ldrcirclesz3;
                    border-radius:$ldrcirclesz3;
                    border:$ldrbxwidth3 solid rgba(255,255,255,.8);
                    &::after{
                        z-index: 6;
                        position:$positiona;
                        content:" ";
                        top:-$ldrbxwidth3;
                        left:-$ldrbxwidth3;
                        bottom: -$ldrbxwidth3;
                        right: -$ldrbxwidth3;
                        border-radius: $ldrcirclesz3;
                        border:$ldrbxwidth3 solid rgba(255,255,255,0.3);
                        border-top-color:$backgndclr;
                        animation: circle3 1000ms ease-in-out infinite;
                    }
                }
            }
            &__counter-box{ // Compte à rebours
                position:$positiona;
                margin:auto;
                &__counter{
                    font-size:$bodyftsz;
                    position:$positiona;
                    margin:auto;
                    opacity: 1;
                    color:rgba(255,255,255,0.7);
                    &::after{
                        scale:1;
                        opacity: 0;
                        font-size:$bodyftsz;
                        display: inline-flex;
                        position:$positiona;
                        margin: auto;
                        color:rgba(255,255,255,0.3);
                        content:" ";
                        animation: countdown 4500ms ease 500ms;
                    }
                    & > span{
                        position:$positiona;
                        align-content: center;
                        align-items: center;
                        justify-content: flex-start;
                        text-align: center;
                        margin:auto;
                        color:rgba(255,255,255,1);
                        transition:transform all 800ms ease;
                    } 
                }
            }
        }
    }      
}
