.top-index{
    overflow:hidden;
    &__resto-image{
        max-width: 100vw;
        width:100vw;
        height:69.3333vw;
        &__alafrancaise{
            background-image: url("../../public/img/restos/maxwidth600px/alafrancaise.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }   
        &__lanoteenchantee{
            background-image:url("../../public/img/restos/maxwidth600px/alafrancaise.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }   
        &__lapalettedugout{
            background-image:url("../../public/img/restos/maxwidth600px/lapalettedugout.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }   
        &__ledelicedessens{
            background-image:url("../../public/img/restos/maxwidth600px/ledelicedessens.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }   
    }
    &__bottom{
        position:relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        border-radius: $radiusresto $radiusresto 0 0;
        transform: translateY(-10.6667vw);
        background-color: $color-bckgr-light-light;
        padding: 9.8667vw 9.8667vw 0 5.3333vw;
        //display:grid;
        //grid-template-columns: auto 1fr;
        height:10vw;
        align-items: center;
        line-height: rem(28.67);
        &__resto-name{
            display:inline-flex;
            position:fixed;
            padding:0;
            margin:0;
            top:7.8667vw; //37px sur base vp 375px
            left:5.3333vw; //20px sur base vp 375px
        }
        &__resto-clic{
            display:inline-flex;
            position:fixed;
            padding:0;
            margin:0;
            opacity:1;
            right:9.8667vw;
            //top:9.8667vw;
            bottom:0;
            height:6.1333vw;
            width:6.1333vw;
            & i{
            overflow: hidden;
            }
        }
    }
}

$functionanim:backwards;
.menus{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position:relative;
    margin:0 5.3333vw;
    &__blocks{
        display:inline-block;
        margin: 6.1333vw 0  2.1333vw 0;
        position:relative;
        @include menuechelle;
        &__title{
            display: block;
            margin:5.3333vw 0 4.8vw 0;
        }
        &__content{
            width: 89.3333vw;
            height:18.4vw;
            max-height: 18.4vw;
            margin: 2.4vw auto 2.4vw auto;;
            display:flex;
            @include boxshadow;
            background-color:$color-bckgr-light-light;
            border-radius: $radiusblklist;
            position:relative;
            align-items: end;
            overflow:hidden;
            cursor:$cursor;
            &__recipe{
                flex-wrap: nowrap;
                display: inline-flex;
                flex-direction: column;
                width:69.3333vw;
                margin: auto 3.3333vw;
                position:relative;
                @include activellipsmenu;
                & h5{
                    flex-wrap: nowrap;
                    display: block;
                    margin:0 0 1.6vw 0;
                    @include ellipsis;
                }
                & h6{
                    flex-wrap: nowrap;
                    display: block;
                    margin:0;
                    padding:0;
                    @include ellipsis;
                }
            }
            @include greencheckedbtn;
            @include activellipsmenu;
        }
    }
}
//Mediaquery pour les pages des restaurants
@media all and (min-width: 1200px){
    .page{
        width:100%;
        padding:1vw 2vw;
    }
    .btnheart{
        display:none;
        @include mx-btnheart;
    }
    //top de la page
    #entrees {
        & h4,h5 {
            color:$color-primary;
        }
        .menus__blocks__content{
            &::before{
                background-color:$color-primary;
            }
        }
    }
    #plats{
        & h4,h5 {
            color:$color-third;
        }
        .menus__blocks__content{
            &::before{
                background-color:$color-third;
            }
        }
    }
    #desserts{
        & h4,h5 {
            color:$color-secondary;
        }
        .menus__blocks__content{
            &::before{
                background-color:$color-secondary;
            }
        }
    }

    .top-index{
        overflow: hidden;
        max-width: 100vw;
        width: 100%;
        position: relative;
        vertical-align: baseline;
        &__resto-image{
            max-width: 100vw;
            width:100%;
            //height:69.3333vw;
            max-height:640px;
            vertical-align: baseline;
            overflow: hidden;
            &__alafrancaise{
                background-image: url("../../public/img/restos/minwidth993px/alafrancaise.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }   
            &__lanoteenchantee{
                background-image:url("../../public/img/restos/minwidth993px/alafrancaise.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }   
            &__lapalettedugout{
                background-image:url("../../public/img/restos/minwidth993px/lapalettedugout.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }   
            &__ledelicedessens{
                background-image:url("../../public/img/restos/minwidth993px/ledelicedessens.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }   
        }
        &__bottom{
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            padding: 0.5vw 2vw 0 0.5vw;
            line-height: rempts(50);
            height:rempts(100);
            transform: translateY(rempts(-50));
            margin:0 0 -6vw 0;
            &__resto-name{
                display:inline-flex;
                padding:0.5vw 0.5vw 0 0.5vw;
                margin:rempts(-50) 0 0  0;
            }
            &__resto-clic{
                display:inline-flex;
                opacity:1;
                width:7.2vw * .3125;
                height:6.6667vw * .3125;                
                order: 0;
                max-width: $moove-d;                
                max-height: $moove-d;
                position: relative;
                padding: 0.5vw;
                margin: 0.5vw;
                top: 6vw;
                right: 6vw;
                bottom: 0;
                transform: scale(2.7);
                & i{
                    overflow: hidden;
                    }
                }
            }
        }
    section#topresto {
        display: block;
        max-width: 100%;
        width:100%;
        padding:0;
        margin:auto;
        width: 100%;
    }
    .restogrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:10px;
        width: 100%;
        max-width: 100vw;
        padding: 0;
        position: relative;
        margin:auto;
        align-items: start;
    }
    .menus{
        max-width: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        margin: 0 1vw;
        &__blocks{
            max-width: 90%;
            width: 100%;
            padding: 0 0.5vw;
            margin: 0 0.5vw;
            &__title{
                display: inline-flex;
                max-width: 100%;
                width:fit-content;
                padding:3vw 0 2vw 1vw;
                margin:1vw 0 3vw 0;                             
            }
            &__content{
                display: inline-flex;
                max-width: 100%;
                width: 100%;
                height:8vw;
                margin: 0.75vw;
                overflow:visible;
                border-radius: 0 12px 12px 0;
                &::before{
                    z-index: 99999;
                    content:'';
                    display: inline-block;
                    width: 1vw;
                    height: 8vw;
                    position:absolute;
                    left:-1vw;
                    top:0;
                    border-radius: 12px 0 0 12px;
                }
                &__recipe{
                    display: inline-flex;
                    max-width: 69%;
                    width:100%;
                    padding:0 0 0.7vw 0;
                    margin:auto 0.9vw;
                    & h5{
                        color:$color-primary;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 601px) and (max-width: 1200px){
    .page{
        width:100%;
        padding:1vw 2vw;
    }
    .btnheart{
        display:none;
        @include mx-btnheart;
    }
    //top de la page
    #entrees {
        & h4,h5 {
            color:$color-primary;
        }
        .menus__blocks__content{
            &::before{
                background-color:$color-primary;
            }
        }
    }
    #plats{
        & h4,h5 {
            color:$color-third;
        }
        .menus__blocks__content{
            &::before{
                background-color:$color-third;
            }
        }
    }
    #desserts{
        & h4,h5 {
            color:$color-secondary;
        }
        .menus__blocks__content{
            &::before{
                background-color:$color-secondary;
            }
        }
    }

    .top-index{
        overflow: hidden;
        max-width: 100vw;
        width: 100%;
        position: relative;
        vertical-align: baseline;
        &__resto-image{
            max-width: 100vw;
            width:100%;
            //height:69.3333vw;
            max-height:640px;
            vertical-align: baseline;
            overflow: hidden;
            &__alafrancaise{
                background-image: url("../../public/img/restos/minwidth993px/alafrancaise.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }   
            &__lanoteenchantee{
                background-image:url("../../public/img/restos/minwidth993px/alafrancaise.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }   
            &__lapalettedugout{
                background-image:url("../../public/img/restos/minwidth993px/lapalettedugout.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }   
            &__ledelicedessens{
                background-image:url("../../public/img/restos/minwidth993px/ledelicedessens.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }   
        }
        &__bottom{
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            padding: 0.5vw 2vw 0 0.5vw;
            line-height: rempts(50);
            height:rempts(100);
            transform: translateY(rempts(-50));
            margin:0 0 -6vw 0;
            &__resto-name{
                display:inline-flex;
                padding:0.5vw 0.5vw 0 0.5vw;
                margin:rempts(-50) 0 0  0;
            }
            &__resto-clic{
                display:inline-flex;
                opacity:1;
                width:7.2vw * .3125;
                height:6.6667vw * .3125;                
                order: 0;
                max-width: $moove-d;                
                max-height: $moove-d;
                position: relative;
                padding: 0.5vw;
                margin: 0.5vw;
                top: 6vw;
                right: 6vw;
                bottom: 0;
                transform: scale(2.7);
                & i{
                    overflow: hidden;
                    }
                }
            }
        }
    section#topresto {
        display: block;
        max-width: 100%;
        width:100%;
        padding:0;
        margin:auto;
        width: 100%;
    }
    //.restogrid{
    //    display: grid;
    //    grid-template-columns: 1fr 1fr 1fr;
    //    gap:10px;
    //    width: 100%;
    //    max-width: 100vw;
    //    padding: 0;
    //    position: relative;
    //    margin:auto;
    //    align-items: start;
    //}
    .menus{
        max-width: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        margin: 0 1vw;
        &__blocks{
            max-width: 90%;
            width: 100%;
            padding: 0 0.5vw;
            margin: 0 0.5vw;
            &__title{
                display: inline-flex;
                max-width: 100%;
                width:fit-content;
                padding:3vw 0 2vw 1vw;
                margin:1vw 0 3vw 0;                             
            }
            &__content{
                display: inline-flex;
                max-width: 100%;
                width: 100%;
                height:8vw;
                margin: 0.75vw;
                overflow:visible;
                border-radius: 0 12px 12px 0;
                &::before{
                    z-index: 99999;
                    content:'';
                    display: inline-block;
                    width: 1vw;
                    height: 8vw;
                    position:absolute;
                    left:-1vw;
                    top:0;
                    border-radius: 12px 0 0 12px;
                }
                &__recipe{
                    display: inline-flex;
                    max-width: 69%;
                    width:100%;
                    padding:0 0 0.7vw 0;
                    margin:auto 0.9vw;
                    & h5{
                        color:$color-primary;
                    }
                }
            }
        }
    }
}