*{
    padding:0;
    margin:0;
}
.top-index{
    &__resto-image img{
        max-width: 100vw;
    }
    &__bottom{
    border-radius: $radiusresto;
    transform: translateY(-40px);
    background-color: $color-bckgr-light-dark;
    padding: 35px 20px 0 20px;
    display:grid;
    grid-template-columns: auto 1fr;
    align-items: end;
        &__resto-name h2{
            font-family: 'Shrikhand', cursive;
            font-weight:300;
            position:relative;
        }
        &__resto-clic{
            opacity:1;
            position:absolute;
        }
    }
}
.menus{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position:relative;
    margin:0 20px;
    &__blocks{
        margin:0 0  35px 0;
        position:relative;
        height: 272px;
        & h4{
            margin:0 0 25px 0;
        }
        &__content{
            display:grid;
            grid-template-columns: auto 1fr;
            @include boxshadow;
            background-color:$color-bckgr-light-light;
            border-radius: $radiusblklist;
            height: 69px;
            margin-bottom: 11px;
            position:relative;
            align-items: end;
            overflow:hidden;
            cursor:$cursor;
            &__recipe{
                padding: 15px 0 15px 11px;
                position:relative;      
                &__title h5{
                    padding: 0 0  9px 0;
                }
                &__desc h6{
                    margin:0;
                    padding:0;
                }
            }
            &:hover > &__validate,&:hover > &__price{
                transform:translate( -60px);
                cursor:$cursor;
            }
            &__price{
                position:absolute;
                right: 22px;
                top:50%;
                transition:transform 500ms ease-in-out 100ms;
                transition-timing-function:cubic-bezier(.5,.64,0,1);
            }
            &__validate{
                position:absolute;
                width: 60px;
                height:100%;
                background-color:$color-third;
                right: -60px;
                top:0;
                margin:auto;align-items: center;
                justify-content: center;
                display:flex;
                border-radius:0 $radiusblklist $radiusblklist  0;
                transition:transform 500ms ease-in-out;
                transition-timing-function:cubic-bezier(.5,.64,0,1);
                
                & i{
                    color:$color-third;
                    background-color:#fff;
                    border-radius:25px;
                    width: 22px;
                    height: 22px;
                    text-align: center;
                    position: absolute;
                    margin:0;
                    padding:0%;

                }
                
            }
        }
    }
}