@use 'sass:math';

//fonction de tranformations auto des px en rem
$pixelref:16;
@function rem($pixel){
  @return math.div($pixel,$pixelref) * 1rem;
}

$animations:(
  animation1:scale,
  animation2:rotate
);

//Animation d'apparition des boutons "fonctionnement"
@keyframes howtoshow{
    0%{
      opacity:0;
      transform:translateY(10px);
    }
    100%{
      opacity:1;
      transform:translateY(-10px);
    }
}

//Keyframe animation remplissage des coeurs
@keyframes mooveup{
  0%{
      transform:translateY(22px);
  }
  50%{
      transform:translateY(-22px);
  }
  100%{
    transform-origin:0 -200%;
    transform:translateY(-22px);
    top:-22px;
  }
;}

//Keyframe réduction et truncate texte
@keyframes desctruncate{
  0%{
   width:70%;
  }

  100%{
    width:60%;
  }
;}
