/*mixin de la couleur du bouton explorer*/
@mixin explorebtndgrd{
    background: $color-secondary;
    background: linear-gradient(350deg, $color-secondary 0%, $color-secondary 35%, $color-primary 100%); 
}

/*Mixin ombre*/
@mixin boxshadow{
    -webkit-box-shadow: 3px 3px 10px 5px rgba(230,230,230,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(230,230,230,1);
    box-shadow: 3px 3px 10px 5px rgba(230,230,230,1);
}

/*Mixin DAJFCC*/
@mixin dajfcc{
    display:flex;
    align-items:center;
    justify-content:center;
}

/*mixin dégradé localisation*/
@mixin locationdgrd{
    background: rgb(234,234,234);
    background: -moz-linear-gradient(0deg, $color-lgray 0%, $color-lgray 88%, $color-fgray 100%);
    background: -webkit-linear-gradient(0deg, $color-lgray 0%, $color-lgray 88%, $color-fgray 100%);
    background: linear-gradient(0deg, $color-lgray 0%, $color-lgray 88%, $color-fgray 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$color-lgray",endColorstr="$color-fgray",GradientType=1); 
}

/*mixin propriété des images de la page d'accueil*/
@mixin imgindex{
    max-width:89.333vw;
    width:100%;
    max-height: 46.4vw;
    overflow:hidden;
    height:auto;
    margin:auto;
    border-radius:8vw 8vw 0 0;
    img{
        width:100%;
    }
}

/*Mixin création bouton fonctionnement index.tml*/
@mixin btn-fonctionnement{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color:$color-bckgr-light-dark;
    width:vw(323px);
    height:vw(72px);
    box-shadow:vw(5px) vw(5px) $color-shdw;
    border-radius:$rdsbtnfidx;
    &:hover{
        cursor: url("icn-bck.png"), pointer;
        }
}

/*Mixin création bouton fonctionnement index.tml*/
@mixin btn-action{
    font-family : 'Roboto',sans-serif;
    font-size: 12pt;
    font-weight:700;
    margin:auto;
    color:#fff;
    &:hover{
        cursor: url("icn-bck.png"), pointer;
    }
}