/*mixin de la couleur du bouton action*/
@mixin actionbtndgrd{
    background: #ff79da;
    background: linear-gradient(175deg,  #ff79da 1%,#9356dc 61%);    
}

/*Mixin ombre*/
@mixin boxshadow{
    -webkit-box-shadow: 3px 3px 10px 5px rgba(230,230,230,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(230,230,230,1);
    box-shadow: 3px 3px 10px 5px rgba(230,230,230,1);
}

/*Mixin DAJFCC*/
@mixin dajfcc{
    display:flex;
    align-items:center;
    justify-content:center;
}

/*mixin dégradé localisation*/
@mixin locationdgrd{
    background: rgb(234,234,234);
    background: linear-gradient(0deg, $color-lgray 0%, $color-lgray 88%, $color-fgray 100%);
}

/*mixin propriété des images de la page d'accueil*/
@mixin imgindex{
    max-width:89.333vw;
    max-width: 100vw;
    width:100%;
    max-height: 46.4vw;
    overflow:hidden;
    height:auto;
    margin:auto;
    border-radius:$radiusimgindex;
}

/*Mixin création bouton fonctionnement index.tml*/
@mixin mix-button-action{
    @include actionbtndgrd;
    @include boxshadow;
    display:block;
    position: relative;
    width:64.776119%; /* 217/335 */
    height:50px;
    margin:auto;
    border-radius:50px;
    position:relative;
    flex-wrap: nowrap;
    &__explore a{
        display:inline-block;
        font-family : 'Roboto',sans-serif;
        font-weight:500;
        margin:auto;
        color:#fff;
        font-size: rem(16);
        line-height:50px;
        text-align: center;
    }
    &:hover{
        cursor:$cursor;
        background-color:$color-secondary;
        transition: all 1000ms ease-in;
    }
}

/*Mixin création bouton fonctionnement index.tml*/
@mixin button-fonctionnement{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height:72px;
    width:323px;
    padding:0px;
    margin:auto;
    background-color:$color-bckgr-light-dark;
    box-shadow:5px 5px 5px $color-shdw;
    border-radius:$rdsbtnfidx;
    align-items:center;
    background:$color-lgray;
    opacity: 1;
    font-weight:700;
    max-width:323px;
    &:hover{
        cursor:$cursor;
        background-color:$ccolor-btn-index-hover;
        transition: all 400ms ease-in;
        box-shadow:5px 5px 25px $color-shdwhvr;
    }
}