$color-primary: #e370da;
$color-secondary: #9356dc;
$color-fdark: #101010;
$color-ldark: #353535;
$color-fgray: #D0D0D0;
$color-lgray: #EAEAEA ;
$bckgrd-main: #fff;
$color-bkgrwelcome: #F6F6F6;
$color-btn-cat: #F6F6F6;
$bckgrd-btn-cat-hover: #F5EDFF;
$color-shdw:#E6E6E6;
$color-invalid:#DB464B;
$heading-shadow-size: .55rem;
