@use 'sass:math';
/*Taille de la police de référence*/
$originfnt: 16;
/*Couleurs de la charte graphique*/
$color-primary: #9356dc;
$color-secondary: #FF79DA;
$color-third: #99E2D0;
$color-thirdtxt: darken($color-third,40);/*originel : #d1d1d1*/
/*Couleurs supplémentaires*/
$color-new:darken($color-third,35);
$color-fnt: #000;
$color-fnt-ttl: #101010;
$color-fnt-ttl: #353535;
$color-fgray: lighten($color-fnt,82);/*originel : #d1d1d1*/
$color-lgray: lighten($color-fnt,92);/*originel : #eaeaea*/
$color-shdw:lighten($color-fnt,90);/*originel : #e5e5e5*/
$color-bckgr-light-dark:lighten($color-fnt,96);/*originel : ##f6f6f6*/
$color-bckgr-light-light: #FFFFFF;
$bckgrd-btn-cat-hover: lighten($color-secondary,90);/*originel : #e5e5e5*/
$ccolor-btn-index-hover: #F4EEFB;
$color-invalid:#DB464B;
$color-inactive:#BFBFBF;
/*shadow*/
$heading-shadow-size: rem(4px);
/*Arrondis des coins des boutons de la section fonctionnement de la page d'accueil*/
$rdsbtnfidx:12px;
/*Arrondis des coins des images de la page d'accueil*/
$radiusimgindex:12px 12px 0 0;
/*arrondis des blocs de la liste des restaurant */
$radiusblklist:12px;
/*Valeur du device-width*/
$width-ref:375px;
/* map di'cones font-awesome)*/
/*$mapfaicones:(
    choose:fas fa-mobile-alt,
    compose:fas fa-list,
    eat-in:fas fa-store,
    emptyheart:far fa-heart,
    fullheart:fas fa-heart,
    food:fas fa-utensils,
    hands:fas fa-hands-helping
);*/
$mapfaicones:(
    (choose:"public\img\visu\mobile-alt-solid.svg"),
    (compose:"public\img\visu\mobile-alt-solid.svg"),
    (eat-in:"public\img\visu\store-solid.svg"),
    (emptyheart:"public\img\visu\heart-regular.svg"),
    (fullheart:"public\img\visu\heart-solid.svg"),
    (food:"public\img\visu\utensils-solid.svg"),
    (hands:"public\img\visu\hands-helping-solid.svg")
);
/*Choix du curseur : pointer = doigt / help =fleche et ? / wait = anneau tournant / crosshair = croix style viseur / not/allowed = panneau interdit/ zoom-in = loupe ave +/ grab = main-ouvert*/
$cursor: pointer/*,help,grab,crosshair,not-allowed,zoom-in,grab*/
