@use 'sass:math';
//Viewport initial
$viewport:375px;

/*Taille de la police de référence*/
$originfnt: 16;
/*Couleurs de la charte graphique*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-primary-hover: lighten($color-primary,5);
$color-secondary-hover: lighten($color-secondary,5);
$rgba-0-50-color-primary: rgba(147, 86, 220,1);
$rgba-50-0-color-secondary: rgba(255, 121, 218,1);
$color-third: #99E2D0;
$color-thirdtxt: darken($color-third,40);/*originel : #d1d1d1*/
/*Couleurs supplémentaires*/
$color-new:darken($color-third,35);
$color-fnt: #000;
$color-fnt-ttl: #101010;
$color-fnt-ttl: #353535;
$color-fgray: lighten($color-fnt,82);/*originel : #d1d1d1*/
$color-lgray: lighten($color-fnt,92);/*originel : #eaeaea*/
$color-shdw:lighten($color-fnt,90);/*originel : #e5e5e5*/
$color-shdwhvr:darken($color-shdw,10);/*originel : #e5e5e5*/
$color-shdwhvr2:darken($color-shdwhvr,20);
$color-bckgr-light-dark:lighten($color-fnt,96);/*originel : ##f6f6f6*/
$color-bckgr-light-light: #FFFFFF;
$bckgrd-btn-cat-hover: lighten($color-primary,90);/*originel : #e5e5e5*/
$ccolor-btn-index-hover: #F4EEFB;
$color-invalid:#DB464B;
$color-inactive:#BFBFBF;
/*shadow*/
$heading-shadow-size: rem(4px);
/*Arrondis des coins des boutons de la section fonctionnement de la page d'accueil*/
$rdsbtnfidx:12px;
/*Arrondis des coins des images de la page d'accueil*/
$radiusimgindex:12px 12px 0 0;
/*arrondis des blocs de la liste des restaurant */
$radiusblklist:12px;
/*Arrondi fond page restaurant (sous image entete)*/
$radiusresto:40px;
/*Valeur du device-width*/
$width-ref:375px;

/*Choix du curseur : pointer = doigt / help =fleche et ? / wait = anneau tournant / crosshair = croix style viseur / not/allowed = panneau interdit/ zoom-in = loupe ave +/ grab = main-ouvert*/
$cursor: pointer/*,help,grab,crosshair,not-allowed,zoom-in,grab*/;

//Variables d'animation
//Animation bouton "fonctionnement
$duration:1800ms;
$ecart-a:250ms;
$delay:250ms;

$ecart-t:$ecart-a * 3;
$delay-a-0:0ms;
$delay-a-1:$delay-a-0+$ecart-t;
$delay-a-2:$delay-a-1+$ecart-t;
$delay-a-3:$delay-a-2+$ecart-t;

$delay-t-0:$delay-a-0+$ecart-a;
$delay-t-1:$delay-a-1+$ecart-a;
$delay-t-2:$delay-a-2+$ecart-a;
$delay-t-3:$delay-a-3+$ecart-a;


$colour: linear-gradient(175deg,#ff79da 1%,#9356dc 61%);    

/*************************************************/
/********Variables propres au Load spienner*******/
/*************************************************/
$colour-white:#fff;
$bodyftclr:hsl(150,57%,97%);

//taille du cercle : seule valeur de référence à modifier !
//Cercle 1
$ldrcirclesz1:150px; // diamèetre
//taille de la boite externe - avec la bordure
$ldrbxwidth1:$ldrcirclesz1 * 0.06;//épaisseur

//Police du compteur
$bodyftsz:$ldrcirclesz1 * 0.45;
//Niveau de zoom de départ
$scalestart:7;
// Niveau de zoom final de la police
$scaleend:1;

//Cercle 2
$ldrcirclesz2:$ldrcirclesz1 * 1.25;
//taille de la boite externe - avec la bordure
$ldrbxwidth2:$ldrcirclesz2 * 0.06;//épaisseur

//Cercle 3
$ldrcirclesz3:$ldrcirclesz2 * 1.15;
//taille de la boite externe - avec la bordure
$ldrbxwidth3:$ldrcirclesz2 * 0.01;//épaisseur

//taille de la boite conteneur du loader
$ldrcrclbxwidth:$ldrcirclesz3 * 1.2;
$ldrcrclbxheight:$ldrcirclesz3 * 1.2;

$ldrbxradius:0;
//compteur
$nmbrcntfntsz:100%;

$backgndclr:#16a085;

$scale:1;

$displayb:block;
$displayib:inline-block;
$positionr:relative;
$positiona:absolute;

//Délais initial de calcul pour l'apparition échelonnée des éléments de menu
$delayinitial:250ms;
